.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 700;
    flex-wrap: wrap;
}

.empty-list.is-active {
    margin: 0 auto;
    width: 200px;
    font-size: 18px;
    text-align: center;
}

.full-list.is-active {
    margin: 0 auto;
    width: 200px;
    font-size: 18px;
    text-align: center;
}