.answer-limits {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.answer-limits__error {
    padding-left: 5px;
    background-color: darkgrey;
}

.answer-limits__option {
    margin-right: 5px;
}

.answer-limits__rules--atLeast {
    margin-right: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.answer-limits__rules--noMoreThan {
    margin-right: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.answer-limits label {
    padding: 0 5px;
}

.answer-limits input[type=text] {
    width: 30px;
}

.answer-limits__rules {
    margin-right: 5px;
    border-left: 1px solid black;
    padding-left: 5px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}