.question-card {
    position: relative;
    border: 1px solid black;
    margin: 20px 0;
    padding: 40px 40px;
}

.question-card__question {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.question-card__question--input {
    max-width: 800px;
    min-width: 50px;
    flex-basis: auto;
    flex-grow: 1;
    border: 1px solid black;
}

.question-card__question--actions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 10px;
}

.question-card__question--actions__arrow-up {
    margin-right: 25px;
}

.question-card__question--actions__arrow-down {
    margin-right: 25px;
}

.question-card__question--actions__trash {
    margin-right: 25px;
}

