.answer {
    position: relative;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 40px 40px;
}

.answer__details {
    padding: 5px 0;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.answer__details--input {
    max-width: 800px;
    font-weight: normal;
    margin: 0;
    padding-left: 5px;
}

.answer__details--actions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.answer__details--actions__arrow-up {
    margin-right: 25px;
}

.answer__details--actions__arrow-down {
    margin-right: 25px;
}

.answer__details--actions__trash {
    margin-right: 25px;
}